*,
*::before,
*::after {
  margin: 0;  
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #101010;
  color: white;
  font-size: 1.25em;
}

#root {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
