.container {
  display: none;
  height: 100vh;
  width: 100vw;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  /* display: flex; */
}

.container #chats {
  width: 70vw;
  height: 75vh;
  padding-bottom: 42px;

  overflow-wrap: break-word;
  overflow-y: auto;
  overflow: hidden;

  animation-name: delay;
  animation-duration: 1s;
}

#chats::-webkit-scrollbar {
  width: 5px;
  height: 50px;
  border-radius: 50px;
}

#chats::-webkit-scrollbar-thumb {
  background: rgba(0, 255, 255, 0.5);
  height: 20px;
  border: 5px solid rgba(0, 255, 255, 0.5);
  border-radius: 50px;
  transition: 0.3s;
}

#chats::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 255, 255, 0.8);
}

#chats::-webkit-scrollbar-track {
  background: transparent;
  background-clip: content-box;
}

.prompt {
  display: flex;
  justify-content: center;
  align-items: center;

  animation-name: OnLoad;
  animation-duration: 2s;
  transform: scale(1.25);

  box-shadow: 1px 1px 200px rgba(0, 0, 0, 0.2);
}

.prompt textarea {
  outline: none;
  width: 30rem;
  padding-block: 14.6px;
  font-size: 14px;
  resize: none;

  padding-left: 15px;
  padding-right: 15px;
  border: none;
  background: rgb(22, 22, 22);
  color: white;
  caret-color: aqua;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

textarea::-webkit-scrollbar {
  width: 0px;
}

textarea::-webkit-scrollbar-thumb {
  background: transparent;
}

.prompt button {
  padding: 15px;
  border: none;
  background: rgba(183, 0, 255, 0.8);
  color: white;
  outline: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: 0.3s;

  /* position: relative; */
  z-index: 1;
}

.prompt button:hover {
  background: rgba(133, 1, 185, 0.8);
  cursor: pointer;
}

.user-joined {
  color: rgba(0, 68, 0, 0.8);
  font-style: italic;
  font-weight: 400;
  text-align: center;
  margin-bottom: 0.8rem;
}

.user-left {
  color: rgba(102, 0, 0, 0.8);
  font-style: italic;
  font-weight: 400;
  text-align: center;
  margin-bottom: 0.8rem;
}

.username {
  color: rgba(183, 0, 255, 0.8);
  font-weight: bold;
}

.send-message {
  padding: 0.2rem;
  margin-bottom: 0.8rem;
}

.tagged-message {
  background: rgba(255, 187, 0, 0.06);
  border-left: 1px solid rgb(250, 168, 26);
  padding-block: 5px;
  padding-left: 8px;
}

.server-terminated {
  color: rgba(102, 0, 0, 0.8);
  font-weight: bold;
  text-align: center;
}

.tag-elements-wrapper {
  position: absolute;
  background: rgb(22, 22, 22);

  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  overflow-x: auto;
  overflow-wrap: break-word;

  padding: 1rem 2rem;
  width: 10rem;
  height: auto;
  border-radius: 8px;

  font-size: 14px;

  bottom: 3.5rem;
  left: 0%;

  display: none;
  animation-name: OnLoad;
  animation-duration: 1s;
}

.tag-elements-wrapper ul li {
  list-style: none;
  color: rgb(112, 112, 112);
}

.tag-elements-wrapper ul li:first-child {
  color: white;
  font-weight: 700;
}
