.nick-name-prompt {
  background: rgba(56, 56, 56, 0.15);
  width: 450px;
  padding: 30px 40px;
  border: none;
  border-radius: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;

  animation-name: OnLoad;
  animation-duration: 1s;

  transform: scale(1.2);
}

.nick-name-prompt label {
  font-weight: bold;
  color: rgba(183, 0, 255, 0.8);
}

.nick-name-prompt input {
  margin-top: 20px;
  display: block;
  border: none;
  padding: 10px 20px;
  background: rgb(27, 27, 27);
  color: white;
  outline: none;
  caret-color: aqua;
  border-radius: 5px;
  transform: scale(1.25);
}