.nick-name-prompt {
  background: rgba(56, 56, 56, 0.15);
  width: 450px;
  padding: 30px 40px;
  border: none;
  border-radius: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;

  animation-name: OnLoad;
  animation-duration: 1s;

  transform: scale(1.2);
}

.nick-name-prompt label {
  font-weight: bold;
  color: rgba(183, 0, 255, 0.8);
}

.nick-name-prompt input {
  margin-top: 20px;
  display: block;
  border: none;
  padding: 10px 20px;
  background: rgb(27, 27, 27);
  color: white;
  outline: none;
  caret-color: aqua;
  border-radius: 5px;
  transform: scale(1.25);
}

.nick-name-prompt .nna-error-wrapper{
  /* outline: 1px solid aqua; */
  margin-top: 15px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 17rem;
  animation-duration: 1s;
  display: none;
}

.nick-name-prompt .nna-error-wrapper span{
  font-size: 14px;
  color: rgba(102, 0, 0, 0.8);
  font-style: italic;
}

.decryption-key-prompt {
  background: rgba(56, 56, 56, 0.15);
  width: 400px;
  padding: 30px 40px;
  border: none;
  border-radius: 8px;

  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;

  animation-name: OnLoad;
  animation-duration: 1s;

  transform: scale(1.2);
}

.decryption-key-prompt label {
  font-weight: bold;
  color: rgba(183, 0, 255, 0.8);
  transform: translateX(-4rem);
}

.decryption-key-prompt input {
  margin-top: 20px;
  display: block;
  border: none;
  padding: 10px 20px;
  background: rgb(27, 27, 27);
  color: white;
  outline: none;
  caret-color: aqua;
  border-radius: 5px;
  transform: scale(1.25);
}